body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("D:\Downloads\Designer (13).jpeg"); 
    background-size: cover;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #FF4500;
    color: white;
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: center;
}

p {
    text-align: justify;
}

section {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin: 20px 0;
}

img {
    max-width: 250px;
    height: auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.survey-btn {
    background-color: #4caf50;
    color: white;
    border: none;
}

.contact-btn {
    background-color: #008CBA;
    color: white;
    border: none;
}
